body {
    background: #edeff1;
}

#title_text {
    text-align: center;
    font-size: 1.5vw;
    margin-top: 2vh;
    font-weight: bold;
    font-family: Lato, sans-serif;
    /* z-index: 100; */
}

#title_text2 {
    text-align: center;
    font-size: 1.25vw;
    margin-top: 2vh;
    font-weight: bold;
    font-family: Lato, sans-serif;
    /* z-index: 100; */
}

#message_text {
    text-align: center;
    font-size: 1.25vw;
    margin-top: 2vh;
    font-family: Lato, sans-serif;
    color: #b1b3b4
    /* z-index: 100; */
}

.toolBtn {
    background-color: #f6f7f8; /* Green */
    border: none;
    color: black;
    /* padding: 15px 32px; */
    text-align: center;
    display: inline-block;
    font-size: 1vw;
    border-radius: 16%;
    margin: 0.5vw;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 2vw;
    height: 2vw;
}

#left_buttons {
    display: flex;
    justify-content: left;
    width: 100%;
}

#right_buttons {
    display: flex;
    justify-content: right;
    width: 100%;
}

.toolBtn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24),0 1px 10px 0 rgba(0,0,0,0.19);
}

.card {
    background-color: white;
    color: black;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    /* border-radius: 5px; */
    /* box-shadow: 5px 5px 5px; */
  }

#board_container {
    display: block;
    position: absolute;

    width: 61vh;
    height: 100%;

    top:0%;
    left:50%;

    margin-left:-30.5vh;/* half width*/
	margin-top:0vh;/* half height*/
}

#swaps_container {
    display: block;
    text-align: center;
	margin-top:15vh; /* half height */
}

#button_container {
    display: block;
    position: absolute;
    /* background-color: blueviolet; */

    width: 60vh;
    height: 8vh;

    top:85%;
    left:50%;

    margin-left:-30vh;/* half width*/
	margin-top:-4vh;/* half height*/
}

#button_flex {
    display: flex;
    justify-content: center;
}

#parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

    margin-top: 35%;
}

#cell_flex {
    display: flex;
    justify-content: center;

    height: 40vh;
    width: 40vh;
    margin-left:17%;/* half width*/

}

.cell_text.hidden_cell {
    visibility: hidden;
}

.cell_text {
    font-family: Lato, sans-serif;
    text-align: center;
    color: white;
    line-height: 7.4vh;
    font-size: 1.5vw;
    background-color: purple;
    border-radius: 10%;
    box-shadow: 0px 3px 2px grey;
    margin: 1%; 
    height: 18%;
    width: 18%;
    font-weight: bold;
}

/* Popup container */
.popup {
    background-color: #f6f7f8; /* Green */
    border: none;
    color: black;
    width: 100%;
    height: 100%;
    /* padding: 15px 32px; */
    text-align: center;
    display: inline-block;
    font-size: 1vw;
    border-radius: 16%;
    margin: 0.5vw;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 2vw;
    height: 2vw;
  }
  
/* The actual popup (appears on top) */
.popup .popuptext {
visibility: hidden;
width: 160px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 8px 0;
position: static;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -80px;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
visibility: visible;
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
from {opacity: 0;} 
to {opacity: 1;}
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
}

