<!DOCTYPE html>
<html>
    <head>
        <title>Waffler</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="title_text">WAFFLER</div>
        <div class="card" id="board_container">
            <div id="cell_flex">
                <div class="cell" id="cell0">
                    <div class="cell_text">
                        A
                    </div>
                </div>
                <div class="cell" id="cell1">
                    <div class="cell_text">
                        B
                    </div>
                </div>
                <div class="cell" id="cell2">
                    <div class="cell_text">
                        C
                    </div>
                </div>
                <div class="cell" id="cell3">
                    <div class="cell_text">
                        D
                    </div>
                </div>
                <div class="cell" id="cell4">
                    <div class="cell_text">
                        E
                    </div>
                </div>
                <div class="cell" id="cell5">
                    <div class="cell_text">
                        F
                    </div>
                </div>
                <div class="cell hidden_cell" id="cell6">
                    <div class="cell_text">
                        G
                    </div>
                </div>
                <div class="cell" id="cell7">
                    <div class="cell_text">
                        H
                    </div>
                </div>
                <div class="cell hidden_cell" id="cell8">
                    <div class="cell_text">
                        I
                    </div>
                </div>
                <div class="cell" id="cell9">
                    <div class="cell_text">
                        J
                    </div>
                </div>
                <div class="cell" id="cell10">
                    <div class="cell_text">
                        K
                    </div>
                </div>
                <div class="cell" id="cell11">
                    <div class="cell_text">
                        L
                    </div>
                </div>
                <div class="cell" id="cell12">
                    <div class="cell_text">
                        M
                    </div>
                </div>
                <div class="cell" id="cell13">
                    <div class="cell_text">
                        N
                    </div>
                </div>
                <div class="cell" id="cell14">
                    <div class="cell_text">
                        O
                    </div>
                </div>
                <div class="cell" id="cell15">
                    <div class="cell_text">
                        P
                    </div>
                </div>
                <div class="cell hidden_cell" id="cell16">
                    <div class="cell_text">
                        Q
                    </div>
                </div>
                <div class="cell" id="cell17">
                    <div class="cell_text">
                        R
                    </div>
                </div>
                <div class="cell hidden_cell" id="cell18">
                    <div class="cell_text">
                        S
                    </div>
                </div>
                <div class="cell" id="cell19">
                    <div class="cell_text">
                        T
                    </div>
                </div>
                <div class="cell" id="cell20">
                    <div class="cell_text">
                        U
                    </div>
                </div>
                <div class="cell" id="cell21">
                    <div class="cell_text">
                        V
                    </div>
                </div>
                <div class="cell" id="cell22">
                    <div class="cell_text">
                        W
                    </div>
                </div>
                <div class="cell" id="cell23">
                    <div class="cell_text">
                        X
                    </div>
                </div>
                <div class="cell" id="cell24">
                    <div class="cell_text">
                        Y
                    </div>
                </div>
            </div>
        </div>
        <div id="button_container">
            <div id="button_flex">
                <button type="submit" class="toolBtn" id="getActualWaffle" onClick={}>Today's Waffle</button>
                <button type="submit" class="toolBtn" id="newBoard" onClick={}>New Board</button>
                <button type="submit" class="toolBtn" id="loadCustom" onClick={}>Load Custom</button>
                <button type="submit" class="toolBtn" id="solve" onClick={}>Solve</button>
            </div>
        </div>
    </body>
</html>